#venv/bin/python -m pip install -r requirements.txt
pandas
numpy
matplotlib
yfinance
cdp-sdk
ta
plotly
backtesting
seaborn
statsmodels
binance
ruptures
scikit-learn
python-dotenv
psycopg2-binary
python-dateutil
google-cloud-bigquery
pyarrow
dotenv
psycopg2-binary